*, html {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
	width: 100%;
	height: 100%;
	position: relative;
    background-color: rgb(14,32,150);
    z-index: 0;
}

.page_section {
    display: flex;
    flex-direction: row-reverse;
}
.navigation_bar {
    position: absolute;
/*    float: right;*/
    display: flex;
    flex-direction: column;
/*    opacity: 0;*/
/*    height: 0px;/*/
    right: 1;
    z-index: 1;
    width: 5%;
}

.dots_bars {
    position: relative;
    display: none;
}

.everything {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}