.Welcome_section {
	width: 100%;
	height: 150vh; 
	background-image: url('../images/ea26fd_e23df2dd67964b8d80e3d762f6789883_mv2 (1).webp');
}

.blue-circle {
	width: 100%;
	height: 100%;
	position: absolute;
}

.Subject {
	position: absolute;
	top: 40%;
	left: 35%;
	color: white;
	align-content: center;
	text-align: center;
}

.landing {
	font-size: 100px;
}

.landing_description {
	font-size: 30px;
	letter-spacing: 4px;
}